---
layout: layout.njk
title: Whether Weather - Your Weather, Now!
---

<info class="column has-text-left">

	<content class="content">
		<h3>Welcome to the Whether Weather web application</h3>
		<p>You will find all the Weather pages for our covered cities on the dashboard page.</p>
		<p>Creating an account, logging in and changing your preferences via the Settings page will allow you to modify the Dashboard to suit your needs.</p>
	</content>

	<hr>

	<content class="content">
		<h3>New Features:</h3>
		<p>Below are some of the new features on the site. If you click on the hyperlinks below, they will take you to the corresponding page for each new feature.</p>
	</content>

	<nav class="breadcrumb" aria-label="breadcrumbs">
		<ul>
			<li><a href="#" class="is-size-6">Hurricane Tracker</a></li>
			<li><a href="#" class="is-size-6">Severe Weather</a></li>
			<li><a href="#" class="is-size-6">Maps</a></li>
			<li><a href="#" class="is-size-6">Radar</a></li>
			<li><a href="#" class="is-size-6">Emergency Preparedness</a></li>
			<li><a href="#" class="is-size-6">Air Quality</a></li>
			<li><a href="#" class="is-size-6">Light Polution/Stargazing</a></li>
			<li class="is-active"><a href="#" class="is-size-6" aria-current="page">News</a></li>
		</ul>
	</nav>

	<hr>

	<content class="content">
		<h3>Feedback:</h3>
		<p>Fill in the form below and hit sumbit to send us your thoughts on the website. We'd love to hear back from you!</p>
	</content>

	<field class="field">
		<label class="label">Name</label>
		<div class="control">
			<input class="input" type="text" placeholder="Name">
		</div>
	</field>

	<div class="field">
		<label class="label">Email</label>
		<div class="control">
			<input class="input" type="email" placeholder="Email">
		</div>
	</div>

	<div class="field">
		<label class="label">Subject</label>
		<div class="control">
			<div class="select">
				<select>
					<option>Select</option>
					<option>General Feedback</option>
					<option>Complaints</option>
					<option>Suggestions</option>
				</select>
			</div>
		</div>
	</div>

	<div class="field">
		<label class="label">Message</label>
		<div class="control">
			<textarea class="textarea" placeholder="Type your message here"></textarea>
		</div>
	</div>

	<div class="field">
		<div class="control">
			<label class="checkbox">
				<input type="checkbox">
				I agree to the <a href="#">terms and conditions</a>
			</label>
		</div>
	</div>

	<div class="field is-grouped">
		<div class="control">
			<button class="button is-link">Submit</button>
		</div>
		<div class="control">
			<button class="button is-link is-light">Cancel</button>
		</div>
	</div>
</info>
