---
layout: layout.njk
title: Register
---

<hr>
<br>
<br>

<h3 class="has-text-weight-bold is-size-5">
Register:
</h3>
<div class="field">
  <p class="control">
    <input class="input" type="email" placeholder="Email">
  </p>
</div>
<div class="field">
  <p class="control">
    <input class="input" type="password" placeholder="Password">
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success">
      Register
    </button>
  </p>
  <br>
  <a href="/login">Or Click Here to Login</a>
</div>