  <footer class="footer has-background-white has-text-black" style="height: 10vh; flex: 0 1 auto;">
  <!-- flex will set footer height without having main content fill stretch the page if footer height is otherwise adjusted, so that only extra content in each section will cause page overflow-->
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <img class="image is-64x64 is-inline" src="/images/logo.png" alt="Whether Weather logo"> © 2025 Whether Weather. Awl Rights Preserved.
        </p>
      </div>
    </div>
  </footer>