  <nav class="navbar is-centered has-background-white">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Whether Weather - Home
      </a>
      <span class="navbar-burger has-background-black" data-target="navbarMenu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end has-background-white">
        <div class="field pt-1 pr-3 has">
        <p class="control has-icons-left">
          <span class="select has-text-left">
            <select>
              <option selected>Language</option>
              <option value="us">English</option>
              <option>Español</option>
              <option>Français</option>
              <option>Italiano</option>
              <option>日本語</option>
              <option>한국어</option>
            </select>
          </span>
          <span class="icon is-small is-left">
            <i class="fi fi-un"></i>
          </span>
        </p>
      </div>
        <a href="/login" class="navbar-item has-text-black">
          Login
        </a>
        <a href="/dashboard" class="navbar-item has-text-black">
          Dashboard
        </a>
        <a href="/settings" class="navbar-item has-text-black">
          Settings
        </a>
      </div>
    </div>
  </nav>