<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Data Settings: Please select which measurement units you would like to see (requires login to save preferences)
    </p>
  </header>
  <div class="card-content">
    <div class="content">
    	<h3>
    		Temperature:
    	</h3>
      <label class="switch is-rounded">
        <input type="checkbox">
        Celsius
      </label>
      <label class="switch is-rounded">
        <input type="checkbox">
        Fahrenheit
      </label>
      <label class="switch is-rounded">
        <input type="checkbox">
        Kelvin
      </label>
      <h3>
      	Wind Speed:
      </h3>
      <label class="switch is-rounded">
        <input type="checkbox">
        Km/h
      </label>
      <label class="switch is-rounded">
        <input type="checkbox">
        Mph
      </label>
      <label class="switch is-rounded">
        <input type="checkbox">
        Knots
      </label>
      <h3>
      	Wind Direction:
      </h3>
      <label class="switch is-rounded">
        <input type="checkbox">
        Degrees(°)
      </label>
      <label class="switch is-rounded">
        <input type="checkbox">
        Cardinal Directions
      </label>
      <h3>
      	Precipitation:
      </h3>
      <label class="switch is-rounded">
        <input type="checkbox">
        mm
      </label>
      <label class="switch is-rounded">
        <input type="checkbox">
        Inches
      </label>
      <h3>
      	Atmospheric Pressure:
      </h3>
      <label class="switch is-rounded">
        <input type="checkbox">
        Pa
      </label>
      <label class="switch is-rounded">
        <input type="checkbox">
        mBar
      </label>
      <label class="switch is-rounded">
        <input type="checkbox">
        PSI
      </label>
      <h3>
      	Visibility:
      </h3>
      <label class="switch is-rounded">
        <input type="checkbox">
        Kilometers
      </label>
      <label class="switch is-rounded">
        <input type="checkbox">
        Miles
      </label>
    </div>
  </div>
</div>